.singleItem__container{
    padding: 2em;
    display: flex;
    gap: 2em;
}

.leftSide{
    /* background: var(--shade-color); */
    width: 50%;
    height: 480px;
    object-fit: contain;
}

.rightSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.capitalizeText{
    text-transform: capitalize;
}

.title{
    font-size: 24px;
}

.boldText{
    font-weight: 600;
}

@media (max-width: 895px){
    .singleItem__container{
        flex-direction: column;
    }
    .leftSide{
        margin: auto;
        width: 100%;
    }
    .rightSide{
        width: 100%;
    }
}